<div *ngIf="viewMode; else editable">
  <div *ngIf="currentElement.id">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>{{ currentElement.nombre }}</mat-card-title>
        <mat-card-subtitle>
          {{ currentElement.tema == null ? "-": currentElement.tema.nombre + " (" + currentElement.tema.id + ")" }}</mat-card-subtitle>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <label><strong>Id:</strong></label> {{ currentElement.id }} <br>
        <label><strong>Fecha de inicio:</strong></label> {{ startingDateText }} <br>
        <label><strong>Duración:</strong></label> {{ currentElement.tema.duracion }} <br>
      </mat-card-content>
      <hr>
      <mat-card-actions class="mat-card-actions">
        <button class="btn btn-sm btn-primary"
        routerLink="/cursos/{{ currentElement.id }}">
        Editar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!currentElement">
    <br />
    <p>Por favor, elija un curso...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentElement.id" class="edit-form">
    <h4>Instituto educativo - {{ currentElement.nombre }}</h4>
    <hr>
    <form>
      <div class="form-group">
        <label for="title">Nombre del Curso:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentElement.nombre"
          name="title"
          (input)="changeNombre(currentElement.nombre)"
        />
        <p class="error" id="error0" style="display: none;">
          *Debe elegir un nombre válido
        </p>
      </div>
      <hr>
      <div class="form-group">
        <label>Tema:</label>
        <div class="row">
          <div class="col">
            <input
              type="number"
              class="form-control"
              id="temaId"
              [(ngModel)]="currentElement.tema.id"
              name="temaId"
              (input)="changeTemaId(currentElement.tema.id)"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="temaNombre"
              [(ngModel)]="currentElement.tema.nombre"
              name="temaNombre"
              (input)="changeTemaNombre(currentElement.tema.nombre)"
            />
          </div>
        </div>
        <p class="error" id="error1" style="display: none;">
          *Debe elegir un tema válido
        </p>
        <p class="error" id="error2" style="display: none;">
          *No existe un tema de id {{currentElement.tema.id}}
        </p>
        <p class="error" id="error3" style="display: none;">
          *No existe un tema de nombre {{currentElement.tema.nombre}}
        </p>
      </div>
      <hr>
      <div class="form-group">
        <label>Fecha de inicio:</label>
        <datePicker
          [startingDateIn]="startingDate"
          (startingDateOut)="changeDate($event)"
        ></datePicker>
        <p class="error" id="error4" style="display: none;">
          *Debe elegir una fecha válida
        </p>
      </div>
      <hr>
      <div class="form-group">
        <label for="docenteId">Id del Docente:</label>
        <input
          type="number"
          class="form-control"
          id="docenteId"
          [(ngModel)]="currentElement.idDocente"
          name="docenteId"
          (input)="changeDocenteId(currentElement.idDocente)"
        />
        <p class="error" id="error5" style="display: none;">
          *Debe elegir un id de docente válido
        </p>
        <p class="error" id="error6" style="display: none;">
          *No existe un docente de id {{currentElement.idDocente}}
        </p>
      </div>
    </form>
    <hr>
    <button id="borrar1" class="btn btn-danger" (click)="checkDelete()">
      Borrar
    </button>
    <button id="borrar2" class="btn btn-danger" style="display: none;" (click)="deleteElement()">
      Confirmar
    </button>
    <button
      type="submit"
      class="btn btn-success"
      (click)="updateElement()"
      id="update"
    >
      Actualizar
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentElement.id">
    <br />
    <p>Elemento no encontrado...</p>
  </div>
</ng-template>



