<div class="row" style="width: max-content;">
  <div class="col-sm" style="padding-right: 0;">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="value" (dateChange)="cambio()">
      <mat-datepicker #picker [startAt]="startingDateIn"></mat-datepicker>
      <mat-hint>DD-MM-YYYY</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-sm" style="padding-top: 10px; padding-left: 0;">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  </div>
</div>