<div>
  <div class="submit-form">
    <div *ngIf="!submitted" class="edit-form">
      <h4>Instituto educativo - Añadir {{ curso.nombre }}</h4>
      <hr>
      <form>
        <div class="form-group">
          <label for="title">Nombre del curso</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="curso.nombre"
            name="title"
            (input)="changeNombre(curso.nombre)"
          />
          <p class="error" id="error0" style="display: block;">
            *Debe elegir un nombre válido
          </p>
        </div>
        <hr>
        <div class="form-group">
          <label>Tema</label>
          <div class="row">
            <div class="col">
              <input
                type="number"
                class="form-control"
                id="temaId"
                [(ngModel)]="curso.tema.id"
                name="temaId"
                (input)="changeTemaId(curso.tema.id)"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="temaNombre"
                [(ngModel)]="curso.tema.nombre"
                name="temaNombre"
                (input)="changeTemaNombre(curso.tema.nombre)"
              />
            </div>
          </div>
          <p class="error" id="error1" style="display: block;">
            *Debe elegir un tema válido
          </p>
          <p class="error" id="error2" style="display: none;">
            *No existe un tema de id {{curso.tema.id}}
          </p>
          <p class="error" id="error3" style="display: none;">
            *No existe un tema de nombre {{curso.tema.nombre}}
          </p>
        </div>
        <hr>
        <div class="form-group">
          <label>Fecha inicio:</label>
          <datePicker
            [startingDateIn]="curso.fechaInicio"
            (startingDateOut)="changeDate($event)"
          ></datePicker>
          <p class="error" id="error4" style="display: block;">
            *Debe elegir una fecha válida
          </p>
        </div>
        <hr>
        <div class="form-group">
          <label for="docenteId">Docente Id:</label>
          <input
            type="number"
            class="form-control"
            id="docenteId"
            [(ngModel)]="curso.idDocente"
            name="docenteId"
            (input)="changeDocenteId(curso.idDocente)"
          />
          <p class="error" id="error5" style="display: block;">
            *Debe elegir un id de docente válido
          </p>
          <p class="error" id="error6" style="display: none;">
            *No existe un docente de id {{curso.idDocente}}
          </p>
        </div>
      </form>
      <hr>
      <button (click)="saveCurso()" class="btn btn-success" id="submit" disabled>Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>{{curso.nombre}} se ha añadido correctamente!</h4>
      <button class="btn btn-success" (click)="newCurso()">Nuevo</button>
    </div>
  </div>
</div>